name: Code Style

on:
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]

jobs:
    php-cs-fixer:
        runs-on: ubuntu-latest
        timeout-minutes: 10
        if: github.event.pull_request.draft == false

        steps:
            -   name: Checkout
                uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

            -   name: Setup PHP
                uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
                with:
                    php-version: '8.3'
                    coverage: none # disable xdebug, pcov
                    tools: cs2pr

            -   name: Composer install
                uses: ramsey/composer-install@v3

            -   name: Run php-cs-fixer
                run: vendor/bin/php-cs-fixer check --ansi --diff --format=checkstyle | cs2pr
