name: Upstream

on:
    pull_request:
        types: [ opened, synchronize, reopened, ready_for_review ]

jobs:
    upstream_run:
        name: ${{ matrix.repo }}@${{ matrix.branch }}
        runs-on: ubuntu-latest
        timeout-minutes: 10

        concurrency:
            group: upstream-check-${{github.event_name}}-${{ matrix.repo }}-${{ matrix.branch }}-${{ github.head_ref || github.run_id }}
            cancel-in-progress: true

        strategy:
            fail-fast: false
            matrix:
                include:
                    -   repo: redaxo/redaxo
                        branch: main
                        php: '8.1'
                    -   repo: redaxo/redaxo
                        branch: 6.x
                        php: '8.3'
                    -   repo: yakamara/yform
                        branch: master
                        php: '8.1'

        if: github.event.pull_request.draft == false
        steps:
            -   uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
                with:
                    repository: ${{ matrix.repo }}
                    ref: ${{ matrix.branch }}

            -   name: Setup PHP
                uses: shivammathur/setup-php@73963f5001e335723c998e4a0125ce060083985c # v2
                with:
                    php-version: ${{ matrix.php }}
                    coverage: none

            -   name: Set redaxo/php-cs-fixer-config to main branch
                run: composer require redaxo/php-cs-fixer-config:dev-main friendsofphp/php-cs-fixer:\* --dev --no-scripts --no-interaction --no-update --ansi

            -   uses: ramsey/composer-install@0f18aec461938c57720faaf2dba4421bf698cf42 # v3
                with:
                    dependency-versions: 'highest' # to trigger 'composer update' instead of 'composer install'
                    composer-options: ${{ hashFiles('composer.lock') != '' && 'redaxo/php-cs-fixer-config' || '' }} --with-all-dependencies

            -   name: Run php-cs-fixer with config from main branch
                run: vendor/bin/php-cs-fixer fix -v --ansi --diff || exit 0

            -   name: Set redaxo/php-cs-fixer-config to current branch
                run: composer require redaxo/php-cs-fixer-config:dev-${{ github.head_ref }} --dev --with-all-dependencies --no-scripts --no-interaction --no-progress --ansi

            -   name: Run php-cs-fixer
                run: vendor/bin/php-cs-fixer check -v --ansi --diff || exit 0
